<% include partials/header %>

<body>
    
    <div class="login-wrap">
        
        <div class="login-html">
            <label class="tab" style="color: #FFFFFF; margin-top:30%; font-size:20px" >
                Oh, Snap!<br>
                Some error has occured...<br>
                Please check the input!
            </label>
            
            <div class="login-form">
                
                <a href="/">
                    <div class="group">
                        <input type="submit" class="button" value="Try Again">
                    </div>
                </a>
                
            </div>
        </div>
    </div>
        
</body>

<% include partials/footer %>
